input[type=text], input[type=email]{
    width: 50%;
}

input:hover{
    border:solid lime 2px;
    background-color: gainsboro;
}
.header{
    text-align: center;
    color: yellow;
}

.hint{
    color: red;
    padding: 0px 20px 0px 20px;
}

#conteiner{
    background: white;
    text-align: center;
    margin: 0% 20% 0% 20%;
    border:solid gray 1px;
}
body{
    background-image: url("../Images/svetlyj-fon.jpg");
    opacity: 0.7;
}

b{
    color: blue;
}

input[type=radio]
{
    position: absolute;
    left: 30%;
}
em.radioNameUniver{
    position: absolute;
    left: 33%;
   }

#otherUniver{
    position: absolute;
    left: 41%;
    width:30%;
}

hr{
    color: grey;
    width: 90%;
    align-items:center;
}

select{
    max-width: 80%;
}
textarea{
    width: 75%;
}

button{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    height: 8%;
    width: 20%;
    color: black;
    font-size: 11px;
    font-family: Tahoma;
    background: lawngreen;
    /*!important;*/
    outline: none;
}