
#top {
    top: 45%;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    left: 5%;
    color: red;
    size: 30px;
}

.manageArrow{
    height: 30%;
    width: 30%;
}
#bottom {
    top: 55%;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    left: 5%;
    color: red;
    size: 30px;
}

input, textarea, select, em{
    font-size: 18px;
}

input[type=text], input[type=email]{
    width: 70%;
}

input[type=reset]{
    cursor: pointer;
}

select{
    width: 60%;
}

input:hover{
    border:solid lime 2px;
    background-color: gainsboro;
}

input[type=file]:hover{
    border:none;
}

.header{
    text-align: center;
    color: #00008b;
}

.hint{
    color: red;
    padding: 0px 20px 0px 20px;
}

#conteiner{
    background: white;
    text-align: center;
    margin: 0% 13% 0% 13%;
    border:solid gray 1px;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-image: url("images/svetlyj-fon.jpg");
    opacity: 0.8;
    font-size: 18px;
    font-family: "Bodoni MT";
}

b{
    color: blue;
}

input[type=radio]
{
    position: absolute;
    left: 30%;
}
em.radioNameUniver{
    position: absolute;
    left: 33%;
}

#otherFac1,#fullNameUniver1, #fullNameUniver2, #otherFac2,#UniverBoss1,#UniverBoss2{
    position: absolute;
    left: 47%;
    width:30%;
}

hr{
    color: grey;
    width: 90%;
    align-items:center;
}

select{
    max-width: 80%;
}
textarea{
    width: 70%;
}

button{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    height: auto;
    width: auto;
    font-size: 1.1em;
    color: black;
    font-family: Tahoma;
    background: lawngreen;
    cursor: pointer;
    outline: none;
}

button:hover{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);;
}

.left-name{
    text-align: left;
    margin-left: 20%;
    color: darkblue;
}

.right-name{
    text-align: right;
    margin-right: 20%;
    color: darkblue;
}

#info{
    width: 100%;
}

.colorInfo{
    color: brown;
}

footer {
    height: 5%;
    margin-top: 30px;
    background-color: brown;
    /*margin: 0.3% -0.6% -10% -0.6%;*/
    overflow: hidden;
    text-align: center;
}

#panelDownload{
    position: fixed;
    top:45%;
    left:15%;
}

button#download{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    height: 100px;
    width: 170px;
    color: darkblue;
    font-size: 17px;
    font-family: "fantasy";
    /*background: lawngreen;*/
    background-image: url("images/dow.png");
    border: solid green 3px;
    outline: none;
}

button#download:hover{
    border:solid lime 3px;
    background-color: gainsboro;
}

.manageButton{
    background:orange;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
}

abbr, label{
    cursor: pointer;
}

b#text_dow{
    transition: all 1.5s ease;
}
 .req{
     color: #f00;
     font-size: 1.5em;
 }