
#top {
    top: 45%;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    left: 5%;
    color: red;
    size: 30px;
}

.manageArrow{
    height: 30%;
    width: 30%;
}
#bottom {
    top: 55%;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    left: 5%;
    color: red;
    size: 30px;
}

input[type=text], input[type=email]{
    width: 70%;
}

select{
    width: 60%;
}

input:hover{
    border:solid lime 2px;
    background-color: gainsboro;
}
.header{
    text-align: center;
    color: yellow;
}

.hint{
    color: red;
    padding: 0px 20px 0px 20px;
}

#conteiner{
    background: white;
    text-align: center;
    margin: 0% 15% 0% 15%;
    border:solid gray 1px;
    height: 100%;
}
body{
    background-image: url("images/svetlyj-fon.jpg");
    opacity: 0.7;
}

b{
    color: blue;
}

input[type=radio]
{
    position: absolute;
    left: 30%;
}
em.radioNameUniver{
    position: absolute;
    left: 33%;
   }

#otherFac1,#fullNameUniver1, #fullNameUniver2, #otherFac2,#UniverBoss1,#UniverBoss2{
    position: absolute;
    left: 41%;
    width:30%;
}

hr{
    color: grey;
    width: 90%;
    align-items:center;
}

select{
    max-width: 80%;
}
textarea{
    width: 75%;
}

button{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    height: 8%;
    width: 20%;
    color: black;
    font-size: 11px;
    font-family: Tahoma;
    background: lawngreen;
    /*!important;*/
    outline: none;
}

.left-name{
    text-align: left;
    margin-left: 20%;
    color: darkblue;
}

.right-name{
    text-align: right;
    margin-right: 20%;
    color: darkblue;
}

#info{
    width: 100%;
}

.colorInfo{
    color: brown;
}

footer {
    height: 5%;
    margin-top: -5%;
    background-color: brown;
    margin: 0.3% -0.6% -10% -0.6%;
    text-align: center;
}

#panelDownload{
    position: fixed;
    top:45%;
    left:20%;
   /*// width: 50%;*/
}

button#download{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    height: 100px;
    width: 170px;
    color: darkblue;
    font-size: 17px;
    font-family: "fantasy";
    /*background: lawngreen;*/
    background-image: url("images/dow.png");
    border: solid green 3px;
    outline: none;
}

button#download:hover{
    border:solid lime 5px;
    background-color: gainsboro;
}

.manageButton{
    background:orange;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
}